.product-info-main .stock.available, .product-info-main .stock.unavailable {
    margin-top: 20px;
}
.action.primary.custom-addto-cart {
    background-color: red;
}
.product-item-photo {

    .product-image-photo {
        transition: transform 300ms ease-in-out;
    }

    &:hover {
        .product-image-photo {
            transform: scale(1.1);
        }
    }
}
